body{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background-color: rgb(168, 173, 177);
}

.container {
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 10px;
}

.inpt {
  padding: 5px;
  margin: 10px;
}