body {
    background-color: rgb(2,30,54);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.caixa{
    display: flex;
    flex-direction: center;
    align-items: center;
}

.inpt{
    margin:5px;
    padding: 5px;
}